html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-color: #0a1c0a;
    color: #00e676;
    min-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input,
textarea,
.input {
    background: #ffecb3;
    color: #783519;
    text-align: center;
    font-weight: bold;
}

.button {
    border: 2px solid #00e676;
    padding: 4px 6px;
}

.button:hover {
    background-color: #00e676;
    color: #1b5e20;
}

.loading {
    padding: 5px;
    margin: 15px;
    font-size: 1.5rem;
}

.blink {
    animation: blink 2s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* green-50 #e8f5e9
green-400-accent #00e676
green-900 #1b5e20
amber-100 #ffecb3 
amber-900 #ff6f00
gray-900 #212121 */
